<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realwork.reol.a3dprint_controller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_test"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.base.BaseActivity" />
        <activity
            android:name=".ui.WelAct"
            android:theme="@style/ActFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.SettingAct"
            android:label="设置" />
        <activity
            android:name=".ui.VersionInfoAct"
            android:label="版本信息" />
        <activity
            android:name=".ui.ReportAct"
            android:label="反馈" />
        <activity
            android:name=".ui.ImportModelAct"
            android:label="导入模型" />
        <activity
            android:name=".ui.DownloadManageAct"
            android:label="下载管理" />
        <activity
            android:name=".ui.PrintHistoryAct"
            android:label="打印历史" />
        <activity android:name=".ui.ModelInfoAct" />
        <activity android:name=".ui.StlViewAct"></activity>
    </application>

</manifest>